aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
decorator
distro
edge-tts
executing
ffmpeg-python
Flask
frozenlist
future
gitdb
GitPython
greenlet
groq
gTTS
h11
httpcore
httpx
httpx-sse
idna
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
matplotlib-inline
multidict
mypy-extensions
narwhals
nest-asyncio
numpy
openai
orjson
packaging
pandas
parso
pillow
prompt_toolkit
protobuf
pure_eval
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
pydub
Pygments
PyMuPDF
pypdf
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
requests
requests-toolbelt
rpds-py
six
smmap
sniffio
SQLAlchemy
srt
stack-data
streamlit
tabulate
tenacity
toml
tornado
tqdm
traitlets
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
watchdog
wcwidth
Werkzeug
yarl
zstandard
